body {
  background: #ffe2b3;
  font-family: 'Asap';
}

.bg-overlay {
  position: fixed;
  background:url('../assets/cheese_background.png');
  background-size: 300px;
  animation: 100s scrollcheese infinite linear;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@keyframes scrollcheese {
  100% {
    background-position: 0px -3000px;
  }
}

.main-wrapper {
  padding: 10vmin 0;
  width: 100%;
  overflow-x: hidden;
  z-index: 99;
}

.chaas {
  max-width: 760px;
  /* padding-left:-15px; */
  /* padding-right:-15px; */
  padding: 15px;
  margin: 0 auto;
  background-color: rgba(254,196,49,1);
  border-radius: 3px;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.12);
}

.chaas header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.chaas header h1 {
  margin-top: 0;
  font-size: 40px;
  margin-bottom: 12px;
  font-family: 'Luckiest Guy';
  font-weight: normal;
  letter-spacing: 0px;
  animation: 350ms textboi infinite alternate;
}

@keyframes textboi {
  100% {
    letter-spacing: 4px;
  }
}